.icons-container {
  line-height: 1.4rem;
}

.icon {
  fill: white;
  margin: 0px 2%;
  font-size: 7rem;
  cursor: pointer;

  &:hover {
    transition: 500ms;
    line-height: 1.25rem;
    font-size: 8rem;
    color: $primary-color;
  }
}

.github {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-github-square);
  }
}

.linkedin {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-linkedin);
  }
}

.resume {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-file-pdf);
  }
}
