.icon {
  fill: white;
  margin: 0px 1%;
  font-size: 7rem;
  cursor: pointer;

  &:hover {
    transition: 50ms;
    color: $secondary-color;
  }
}

.github {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-github-square);
  }
}

.linkedin {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-linkedin);
  }
}

.resume {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-file-pdf);
  }
}
