// COLORS
$primary-color: #eba76c;
$secondary-color: #ee8f3d;

$white-color: #fff;

// $bg-colour: #272341;
$bg-colour: #042009;
$body-text: #fff;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

$fa-font-path: "../webfonts" !default;
