---
import Layout from "@layouts/Layout.astro";

import Nav from "@astroComponents/Nav.astro";
import Repo from "@astroComponents/Repo.astro";

import { Age, IconPill } from "@solidComponents/solidComponents";
import AtlassianIcon from "@svelteComponents/AtlassianIcon.svelte";

import { fetchRepos } from "@utils/github";

const repoData = await fetchRepos();
---
<Layout title="Homepage">
  <main class="m-5 text-gray-300 md:m-[2.5rem] lg:m-52">
    <Nav />
    <div>
      <h1
        class="my-5 text-2xl leading-normal duration-200 md:text-3xl md:leading-normal lg:text-4xl lg:leading-normal xl:text-5xl xl:leading-normal"
      >
        Howdy 👋🏽 I'm Aniket,<br />
        Software Engineer <span class="whitespace-nowrap"
          >@<a href="https://www.atlassian.com"
            ><IconPill client:load class="inline mx-6 px-2 py-1 rounded-full">
              <AtlassianIcon
                client:load
                base={20}
                scale={5}
                style="ml-3 inline align-baseline"
              />
              <span class="px-4">Atlassian</span>
            </IconPill></a
          ></span
        >
      </h1>

      <p class="">
        I'm a <Age client:idle /> year old developer who enjoys working on full-stack
        applications, writing clean code and ensuring top of the line DevEx.
      </p>
    </div>
    <div>
      <h2 class="text-xl my-10 md:text-2xl lg:text-3xl xl:text-4xl">
        What am I working on?
      </h2>
      <p>
        Who knows what I'm doing right now, but here's some stuff I've created.
      </p>
    </div>
    <div class="flex flex-row">
        {repoData.map(r => <Repo repo={r} />)}
    </div>
 </main>
</Layout>
