---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/astro/Nav.astro";
import { Age, IconPill } from "../components/solidjs/solidComponents";
import AtlassianIcon from "../components/svelte/AtlassianIcon.svelte";

export const prerender = true;
---

<Layout title="Homepage">
  <main class="m-5 text-gray-300 duration-300 md:m-[2.5rem] lg:m-52">
    <Nav />
    <div>
      <h1
        class="my-5 text-2xl leading-normal md:text-3xl md:leading-normal lg:text-4xl lg:leading-normal xl:text-5xl xl:leading-normal"
      >
        Howdy 👋🏽 I'm Aniket,<br />
        Software Engineer <span class="whitespace-nowrap"
          >@<a href="https://www.atlassian.com"
            ><IconPill client:load class="inline mx-3 px-2 py-1 rounded-full">
              <AtlassianIcon
                client:load
                base={20}
                scale={5}
                style="ml-3 inline align-baseline duration-300"
              />
              <span class="px-4">Atlassian</span>
            </IconPill></a
          ></span
        >
      </h1>

      <p class="">
        I'm a <Age client:idle /> year old developer who enjoys working on full-stack
        applications, writing clean code and ensuring top of the line DevEx.
      </p>
    </div>
    <!-- <div>
      <h2 class="text-xl my-10 md:text-2xl lg:text-3xl xl:text-4xl">
        What am I working on?
      </h2>
      <p>
        I'm not always working on side projects but here are some public repos
        of my work for you to see.
      </p>
    </div> -->
  </main>
</Layout>
